body{
    background-color: rgb(240, 215, 182);
}

*{
    /* Универсальный селектор */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Селектор тега */
p{
    color: green;
    font-weight: 700;
}

a{
    color: yellow;
}

ol{
    background-color: gray;
}

/* Селектор класса */

.boy{
    color: green;
}

.girl{
    color: gold;
}

.list-student{
    background-color: lightcoral;
}

.list-student__item{
    font-size: 22px;
    margin-bottom: 15px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    border: 1px solid red;
}

/* Селектор идентификатора */
#services{
    background-color: lightgreen;
}


/* Селектор потомка */
nav ul{
    background-color: seagreen;
}